@import "./normalize.css";
@import "./fonts.css";
@import "./base.css";


html,
body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100%;
    background: #fff;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 1.4;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* -----------------HEADER-------------------- */
.header {
    padding: 5px 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header__logo {
    flex: 0 1 20%;
}
.header__logo img {
    width: 200px;
}
.header__title {
    flex: 0 1 80%; 
}
.header__title h1 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
}
.header__title_center h1 {
    text-align: center;
}
/* --------MAIN---------- */
.page {
    flex: 1 1 auto;
}
.page__content {
    padding: 10px 0;
    position: relative;
    z-index: 100;
}
/* --------CONTENT----------- */
.content__menu {
    margin: 0px 0px 15px 0;
}
.content__title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.content__title_left {
    text-align: left;
}
    /* --------MENU----------- */
.menu__nav ol li {
    margin-left: 22px;
}
.menu__title {
    font-weight: 600;
    margin-bottom: 10px;
}
.menu__list > *:not(:last-child) {
    margin-bottom: 15px;
}
.menu__link {
    color: var(--primary-color);
}
.menu__nav .is-noactive {
    display: none;
}
.menu__nav .is-active{
    display: block;
    position: absolute;
    color: var(--text-color);
    padding: 20px;
    background: var(--primary-color);
}
.menu__nav .is-active .menu__link{
    color: var(--text-color);
}
.menu__nav .is-active .menu__link:hover {
    color: var(--highlight-color);
}
.content__block-image {
    min-width: 100%;
    z-index: 10;
    margin-top: -180px;
}
.content__image {
    min-width: 100%;
}
.content__buttons {
    display: flex;
    gap: 15px;
}
.buttons-content {
    flex: 0 1 50%;
}
.buttons-content__btn {
    margin-bottom: 15px;
}
.block-content__btn {
    margin: 0;
}
/* -------CONTETNT-BLOCK--------- */
    /* CONTENT-BLOCK Блок с конетнтом */
.block-content__rubric:not(:last-child) {
    margin-bottom: 20px;
}
.block-content__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}
.block-content__title_circle {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.block-content__title_circle h2 {
    position: relative;
}
.block-content__title_circle h2::before {
    content: attr(data-numb);
    position: absolute;
    top: -4px;
    left: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}
.block-content__title span {
    font-weight: 400;
}
.block-content__text {
    line-height: 1.4;
    margin: 10px 0;
}
.block-content__text_quote {
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    padding: 0 20px;
}
.block-content__list {
    margin-bottom: 10px;
}
.block-content__list li{
    list-style-type:circle;
    margin-left: 30px;
}
.block-content__list li:not(:last-child) {
    margin-bottom: 10px;
}
.block-content__list_number > li{
    list-style-type:decimal;
}
    /* ------TABLE-TRUE------- */
.block-content__table-true {
    margin: 15px 0;
}
.table-true__title {
    padding: 0 0 5px 0;
    font-size: 20px;
    border-bottom: 2px solid #133676;
    margin-bottom: 15px;
}
.table-true {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.table-true__wrapper {
    flex: 0 1 20%;
}
.table-true__table {
    max-width: 200px;
}
.table-true__table td{
    text-align: center;
}
.table-true__text{
    flex: 0 1 65%;
}
.table-true__text p{
    text-align: left;
}
.table-true__image {
    flex: 0 1 15%;
    text-align: right;
}
    /* CARD-BLCOK текст с картинками */
.block-content__card:not(:last-child) {
    margin-bottom: 40px;
}
.card-block__text {
    line-height: 1.2;
    margin-bottom: 10px;
}
.card-block__image {
    text-align: center;
}
/* -----FOOTER------ */
.footer__container {
    padding: 10px 0;
}
.footer__arrows {
    display: flex;
    justify-content: space-between;
}
    /* -------ARROWS--------- */
.arrows svg {
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}
.arrows__wrapper {
    flex: 0 1 100%;
    text-align: right;
}
.arrows svg polygon, 
.arrows svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #337AB7;
}
.arrows svg:hover polygon, 
.arrows svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrows svg:hover .arrows-pl {
    animation: arrows-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrows svg:hover .arrows-pl-fixed {
    animation: arrows-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
 
@keyframes arrows-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrows-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}