html,
body {
    font-family: "Montserrat", "" , sans-serif;
    height: 100vh;
    width: 100%;
    background: #d9dcec;
    font-size: 14px;
    
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
/* -----------------HEADER-------------------- */
.header {
    padding: 50px 0;
}
.header__page {
    display: flex;
    justify-content: space-between;
}
.page__title-image {
    display: flex;
    align-items: center;
}
.page__img {
}
.page__title-logo {
    text-align: center;
    padding: 0 50px;
    color: #133676;
    font-weight: 600;
    font-size: 25px;
}
.menu__list {
    text-align: center;
}
.meni__item:not(:last-child) {
    margin-bottom: 40px;
}
.menu__link {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #d9dcec;
    min-height: 50px;
    padding: 15px;
    background: #133676;
    display: inline-block; 
    min-width: 350px;
    position: relative;
    padding: 20px 40px;
    border: none;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color:#3F4A83;
    color: #D6D6D6;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.menu__link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
.menu__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
.menu__link:hover {
    color: #fff;
}
.menu__link:hover::before, .menu__link:hover::after {
    width: 100%;
}
/* ------------------PAGE1--------------------- */
.page1__title-logo {
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.page1__title {
    margin-bottom: 5px;
    color: #133676;
    font-size: 24px;
    font-weight: 500;
}
.page1__body {
    position: relative;
    z-index: 10;
}
.page1__title-text {
    color: #164397;
    font-size: 18px;
    font-weight: 500;
}
.page1__links {
    color: #18479e;
    position: relative;
    z-index: 100;
}
.page1__links:hover {
    text-decoration: underline;
    color: #1d4da5;
}
.page1__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 15px;
}
.pagee__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 1;
}
.pagee__img img {
    width: 100%;
    height: 100%;
}
.page1__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 1;
}
.page1__img img {
    width: 100%;
    height: 100%;
}
/* --------------------------PAGE3------------------------ */
.main__page3 {
}
.page3__title-logo {
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.page3__title-link {
    margin-bottom: 20px;
    font-size: 30px;
    padding: 15px;
}
.page3__links {
    position: relative;
    padding: 20px 40px;
    border: none;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color:#3F4A83;
    color: #D6D6D6;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.page3__links:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
.page3__links:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
.page3__title-link:hover {
    color: #fff;
}
.page3__links:hover::before, .page3__links:hover::after {
    width: 100%;
}
/* ----------------PAGE!---------------- */
.page2__main {
    padding: 0 30px ;
}
.page2__title-logo {
    margin-bottom: 20px;
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}
.page2__title {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #133676;
    text-align: center;
    font-size: 22px;
}
.page2__title-text {
    padding: 0 250px;
    color: #133676;
    font-size: 22px;
}
.page2__image {
    text-align: center;
}
.page2__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------PAGE4--------------- */
.page3__container {
    padding: 0 20px;
}
.page3__title-logo {
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 30px;
}
.page3__title-link {
}	
.page3__titl-text {
    color: #133676; 
    font-size: 22px;
}
.page3__image {
    text-align: center;
}
.page3__title-logo {
    margin-bottom: 30px;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.page3__title-text {
    color: #133676;
    font-size: 22px;
}
.page3__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------PAGES------------------- */
.pages__title-image {
    display: flex;
    align-items: center;
}
.pages__img {
}
.pages__links {
}
.pages__title-text {
    color: #133676;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
h1 {
    font-size: 38px;
    font-weight: 600;
}
.pages__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 1;
}
.pages__img img {
    width: 100%;
    height: 100%;
}
.pages__list {
    text-align: center;
}
.pages__item:not(:last-child) {
    margin-bottom: 40px;
}
.pages__link {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #d9dcec;
    min-height: 60px;
    padding: 5px;
    background: #133676;
    display: inline-block;
    min-width: 550px;
    position: relative;
    z-index: 100;
    position: relative;
    padding: 20px 40px;
    border: none;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color:#3F4A83;
    color: #D6D6D6;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.pages__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out
}
.pages__link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
.pages__link:hover {
    color: #fff;;
}
.pages__link:hover::before, .pages__link:hover::after {
  width: 100%;
}
/* ------------------PAGES4---------------------- */
.menus__nav {
    text-align: center;
    
}
.menus__item {
    padding: 10px 0;
}
.menus__link {
    font-size: 30px;
    font-weight: 500;
    color: #d9dcec;
    min-height: 50px;
    padding: 5px;
    background: #133676;
    border-radius: 15px;
    display: inline-block;
    min-width: 400px;
}
.menus__link:hover {
    background: #1b4aa0;
}
/* --------------------PAGE7--------------------- */
.page7__title-logotips {
    text-align: center;
    margin-bottom: 30px;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -150px);
}
.page7__body {
    text-align: left;  
}
.page7__title-logo {
    margin-bottom: 30px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.page7__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
/* ---------------------PAGE6---------------------- */
.page6__title-logo {
    margin-bottom: 30px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -150px);
}
.page6__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/* -------------------TEORYA1------------------- */
.teoria1__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.teoria1__title {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 32px;
    font-weight: 500;
}
.teoria1__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria1__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: 1000;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------TEORIA2------------------ */
.teoria2__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    
}
.teoria2__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria2__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -3100px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------TEORIA3------------------ */
.teoria3__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    
}
.teoria3__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria3__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -2400px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------TEORIA4------------------ */
.teoria4__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria4__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria4__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1740px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------TEORIA5----------------- */
.teoria5__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria5__title {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria5__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1470px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------TEORIA6----------------- */
.teoria6__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria6__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria6__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -2500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -----------------TEORIA7----------------- */
.teoria7__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.teoria7__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria7__title {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria7__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -400px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------PRACTIC1------------------------- */
.practic1__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic12__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1100px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------PRACTIC2------------------ */
.practic2__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic2__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic2__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -600px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -----------------PRACTIC3--------------- */
.practic3__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic3__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic3__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -900px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -----------------PRACTIC4-------------------- */
.practic4__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic4__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic4__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -610px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -------------------PRACTIC5------------------- */
.practic5__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic5__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic5__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1400px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------PRACTIC6--------------- */
.practic6__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic6__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic6__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -450px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------PRACTIC7----------------- */
.practic7__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic7__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic7__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1100px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------PRACTIC8---------------- */
.practic8__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic8__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic8__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -600px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------PRACTIC9----------------- */
.practic9__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic9__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic9__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------PRACTIC10------------------- */
.practic10__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic10__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic10__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------------PRACTIC11---------------------- */
.practic11__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic11__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic11__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------PRACTIC12--------------- */
.practic12__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
    transform: translate(0px, -200px);
}
.practic12__title-text {
    adding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic12__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1300px;
    left: 0;
    margin: 0 0 15px 15px;
}