html,
body {
    font-family: "Titillium Web", sans-serif;
    height: 100vh;
    width: 100%;
    background: #d9dcec;
    font-size: 14px;
    
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
/* -----------------HEADER-------------------- */
.header {
    padding: 50px 0;
}
.header__container {
}
._container {
}
.header__page {
    display: flex;
    justify-content: space-between;
}
.page {
}
.page__title-image {
    display: flex;
    align-items: center;
}
.page__img {
}
.page__title-logo {
    text-align: center;
    padding: 0 50px;
    color: #133676;
    font-weight: 600;
    font-size: 25px;
}
.main__page {
}
.page__conatiner {
}
.page__menu {
}
.menu {
}
.menu__nav {
}
.menu__list {
    text-align: center;
}
.meni__item:not(:last-child) {
    margin-bottom: 40px;
}
.menu__link {
    font-size: 30px;
    font-weight: 500;
    color: #d9dcec;
    min-height: 50px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    display: inline-block; 
    min-width: 350px;
}
.menu__link:hover {
    background: #1f4b9b;
}
/* ------------------PAGE1--------------------- */
.main__page1 {
}
.page1__container {
}
.page1__title-logo {
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}
.page1__title {
    margin-bottom: 5px;
    color: #133676;
    font-size: 24px;
    font-weight: 500;
}
.page1__title-text {
    color: #133676;
    font-size: 18px;
    font-weight: 500;
}
.page1__links {
    color: #133676;
}
.page1__links:hover {
    text-decoration: underline;
    color: #1d4da5;
}
.page1__button {

}
.page1__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------------PAGE3------------------------ */
.main__page3 {
}
.page3__title-logo {
    display: flex;
    align-items: center;
}
.page3__container {
}
.page3__title-link {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    min-height: 50px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    min-width: 350px;
}
.page3__links {
    color: #d9dcec;
}
.page3__title-link:hover {
    background: #1f4b9b;
}
/* ----------------PAGE!---------------- */
.page2__main {
    padding: 0 30px ;
}
.page2__container {

}
.page2__title-logo {
    margin-bottom: 20px;
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}
.page2__title {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #133676;
    text-align: center;
    font-size: 22px;
}
.page2__title-text {
    padding: 0 250px;
    color: #133676;
    font-size: 22px;
}
.page2__image {
    text-align: center;
}
.page2__iamge {
}
.page2__button {
    
}
.page2__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------PAGE4--------------- */
.page3__main{
}
.page3__container {
    padding: 0 20px;
}
.page3__title-logo {
    color: #133676;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 30px;
}
.page3__title-link {
    box-shadow: 10px 5px 5px #133676;
}	
.page3__titl-text {
    color: #133676; 
    font-size: 22px;
}
.page3__image {
    text-align: center;
}
.page3__title-logo {
    margin-bottom: 30px;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.page3__title-text {
    color: #133676;
    font-size: 22px;
}
.page3__button {
}
.page3__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------PAGES------------------- */
.header {
}
.header__container {
}
.header__pages {
}
.pages {
}
.pages__title-image {
    display: flex;
    align-items: center;
}
.pages__img {
}
.pages__links {
}
.pages__title-text {
    color: #133676;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
h1 {
    font-size: 38px;
    font-weight: 600;
}
.main__pages {
}
.pages__container {
}
.pages__image {
}
.pages__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 1;
}
.pages__img img {
    width: 100%;
    height: 100%;
}
.pages__title-menu {

}
.pages__nav {

}
.pages__list {
    text-align: center;
}
.pages__item:not(:last-child) {
    margin-bottom: 40px;
}
.pages__link {
    font-size: 30px;
    font-weight: 500;
    color: #d9dcec;
    min-height: 50px;
    padding: 5px;
    background: #133676;
    border-radius: 15px;
    display: inline-block;
    min-width: 550px;
    position: relative;
    z-index: 100;
}
.pages__link:hover {
    background: #1f4b9b;
}
/* ------------------PAGES4---------------------- */
.pages4__body {
}
.pages4__menu {
}
.menus {
}
.menus__nav {
    text-align: center;
    
}
.menus__list {
}
.menus__item {
    padding: 10px 0;
}
.menus__link {
    font-size: 30px;
    font-weight: 500;
    color: #d9dcec;
    min-height: 50px;
    padding: 5px;
    background: #133676;
    border-radius: 15px;
    display: inline-block;
    min-width: 400px;
}
.menus__link:hover {
    background: #1b4aa0;
}
/* --------------------PAGE7--------------------- */
.page7__title-logotips {
    text-align: center;
    margin-bottom: 30px;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.main__page7 {
}
.page7__title-logo {
    margin-bottom: 30px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.page7__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
/* ---------------------PAGE6---------------------- */
.main__page6 {
}
.page6__title-logo {
    margin-bottom: 30px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.page6__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/* -------------------TEORYA1------------------- */
.header__container {
}
._container {
}
.teoria1__image {
}
.main__teoria1 {
}
.teoria1__conatiner {
}
.teoria1__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria1__title {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 32px;
    font-weight: 500;
}
.teoria1__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria1__image {
}
.teoria1__button {
}
.teoria1__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: 1000;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------TEORIA2------------------ */
.main__teoria2 {
}
.teoria2 {
}
.teoria2__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria2__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria2__image {
}
.teoria2__button {
}
.teoria2__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -3100px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------TEORIA3------------------ */
.main__teoria3 {
}
.teoria3__container {
}
.teoria3__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria3__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria3__image {
}
.teoria3__button {
}
.teoria3__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -2400px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------TEORIA4------------------ */
.main__teoria4 {
}
.teoria4__container {
}
.teoria4__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria4__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria4__image {
}
.teoria4__iamge {
}
.teoria4__button {
}
.teoria4__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1740px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------TEORIA5----------------- */
.main__teoria5 {
}
.teoria5__container {
}
.teoria5__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria5__title {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria5__image {
}
.teoria5__button {
}
.teoria5__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1470px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------TEORIA6----------------- */
.main__teoria6 {
}
.teoria6__container {
}
.teoria6__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria6__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria6__image {
}
.teoria6__button {
}
.teoria6__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -2500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -----------------TEORIA7----------------- */
.main__teoria7 {
}
.teoria7__container {
}
.teoria7__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.teoria7__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria7__title {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.teoria7__image {
}
.teoria7__button {
}
.teoria7__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -400px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------PRACTIC1------------------------- */
.main__practic1 {
}
.practic1__container {
}
.practic1__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic1__image {
}
.practic12__button {
}
.practic12__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1100px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------PRACTIC2------------------ */
.main__practic2 {
}
.practic2__container {
}
.practic2__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic2__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic2__image {
}
.practic2__button {
}
.practic2__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -600px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -----------------PRACTIC3--------------- */
.main__practic3 {
}
.practic3__container {
}
.practic3__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic3__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic3__image {
}
.practic3__button {
}
.practic3__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -900px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -----------------PRACTIC4-------------------- */
.main__practic4 {
}
.practic4__container {
}
.practic4__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic4__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic4__image {
}
.practic4__button {
}
.practic4__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -610px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* -------------------PRACTIC5------------------- */
.main__practic5 {
}
.practic5__container {
}
.practic5__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic5__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic5__image {
}
.practic5__button {
}
.practic5__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1400px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------PRACTIC6--------------- */
.main__practic6 {
}
.practic6__container {
}
.practic6__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic6__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic6__image {
}
.practic6__button {
}
.practic6__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -450px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ------------------PRACTIC7----------------- */
.main__practic7 {
}
.practic7__container {
}
.practic7__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic7__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic7__image {
}
.practic7__button {
}
.practic7__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1100px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------PRACTIC8---------------- */
.main__practic8 {
}
.practic8__container {
}
.practic8__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic8__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic8__image {
}
.practic8__button {
}
.practic8__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -600px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------PRACTIC9----------------- */
.main__practic9 {
}
.practic9__container {
}
.practic9__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic9__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic9__image {
}
.practic9__button {
}
.practic9__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* --------------------PRACTIC10------------------- */
.main__practic10 {
}
.practic10__container {
}
.practic10__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic10__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic10__button {
}
.practic10__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ---------------------PRACTIC11---------------------- */
.main__practic11 {
}
.practic11__container {
}
.practic11__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic11__title-text {
    padding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic11__image {
}
.practic11__button {
}
.practic11__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1500px;
    left: 0;
    margin: 0 0 15px 15px;
}
/* ----------------PRACTIC12--------------- */
.main__practic12 {
}
.practic12__container {
}
.practic12__title-logo {
    margin-bottom: 100px;
    text-align: center;
    color: #133676;
    font-size: 42px;
    font-weight: 500;
}
.practic12__title-text {
    adding: 0 20px;
    color: #133676;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.practic12__image {
}
.practic12__button {
}
.practic12__btn {
    display: inline-block;
    color: #d9dcec;
    text-align: center;
    color: #d9dcec;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    padding: 15px;
    background: #133676;
    border-radius: 15px;
    width: 180px;
    position: absolute;
    bottom: -1300px;
    left: 0;
    margin: 0 0 15px 15px;
}